.formInputComponent {
  margin-bottom: 1rem;
  /* width: 80%; */
}

.formInputComponent p {
  font-size: 1rem;
  color: #f10c0c;
  margin-left: 11rem;
  width: 100%;
  text-align: left;
  /* margin-left: 50%; */
}

.formLable {
  /* display: inline-block; */
  font-size: 1rem;
  /* margin-bottom: 6px; */
  color: rgb(17, 17, 17);
  /* margin-right: 0.5rem; */
  text-align: right;
}

.form {
  margin-top: 1rem;
  background-color: #d3eaf2 !important;
  padding: 2rem;
  border-radius: 1rem;
}

.formInput {
  display: inline;
  /* padding-left: 10px; */
  /* outline: none; */
  border-radius: 6px;
  height: 35px;
  width: 70%;
  border-color: rgb(2, 2, 2);
  text-align: left;
  float: right;
}

/* .form-input::placeholder {
    color: #595959;
    font-size: 12px;
  }
   */

.termPrivacyCheck {
  text-align: center;
}
/* button */
.formInputBtn {
  width: 100% !important;
  height: 70%;
  margin-top: 1rem !important;
  margin-bottom: 1rem;
  border-radius: 5px;
  color: white;
  border: none !important;
  background: linear-gradient(
    90deg,
    rgb(82, 36, 127) 0%,
    rgb(193, 126, 219) 100%
  );
  /* outline: none;
  border: none;
  color: #fff;
  font-size: 1rem; */
}

.formInputBtn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(1, 167, 250) 50%,
    rgb(7, 155, 240) 100%
  ) !important;
  transition: all 0.4s ease-out;
}

.formInputLogin {
  font-size: 0.8rem;
  color: rgb(20, 19, 19);
  text-align: center;
  margin-top: 1rem !important;
}

.formInputLogin a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}
