.thumbnail {
  width: 10rem;
}

.heading {
  font-size: 1.7rem;
  margin-left: 7.5rem;
  margin-top: 1rem;
}

/* Adjust itemCard to center for responsiveness */

@media only screen and (max-width: 768px) {
  .itemCard {
    margin-left: 6rem !important;
  }
}

@media only screen and (max-width: 660px) {
  .itemCard {
    margin-left: 5rem !important;
  }
}

@media only screen and (max-width: 642px) {
  .itemCard {
    margin-left: 4.5rem !important;
  }
}


@media only screen and (max-width: 592px) {
  .itemCard {
    margin-left: 3rem !important;
  }
}

@media only screen and (max-width: 546px) {
  .itemCard {
    margin-left: 2rem !important;
  }
}

@media only screen and (max-width: 510px) {
  .itemCard {
    margin-left: 1rem !important;
  }
}

@media only screen and (max-width: 494px) {
  .itemCard {
    margin-left: 0.5rem !important;
  }
}

@media only screen and (max-width: 476px) {
  .itemCard {
    margin-left: 0rem !important;
  }
}
