.thumbnail {
  width: 10rem;
}

.heading {
  font-size: 1.7rem;
}

.searchResult{
  font-size: 1.7rem;
}

.statusDropdown {
  margin-top: 0.25rem;
}
/* Adjust itemCard to center for responsiveness */

@media only screen and (max-width: 992px) {
  .heading {
    width: 200% !important;
  }

  .searchResult{
    width: 300% !important
  }
}

@media only screen and (max-width: 768px) {
  .itemCard {
    margin-left: 6rem !important;
  }
}

@media only screen and (max-width: 660px) {
  .itemCard {
    margin-left: 5rem !important;
  }
}

@media only screen and (max-width: 642px) {
  .itemCard {
    margin-left: 4.5rem !important;
  }
}

@media only screen and (max-width: 592px) {
  .itemCard {
    margin-left: 3rem !important;
  }
}

@media only screen and (max-width: 546px) {
  .itemCard {
    margin-left: 2rem !important;
  }
}

@media only screen and (max-width: 510px) {
  .itemCard {
    margin-left: 1rem !important;
  }
}

@media only screen and (max-width: 494px) {
  .itemCard {
    margin-left: 0.5rem !important;
  }
}

@media only screen and (max-width: 491px) {
  .itemCard {
    margin-left: 0.5rem !important;
  }
}



@media only screen and (max-width: 477px) {
  .heading {
    font-size: 1.5rem !important;
    margin-bottom: 1rem !important;
  }

  .searchResult{
    font-size: 1.5rem !important;
    margin-bottom: 1rem !important;
  }
}


