/* HEDER:STYLES FOR THE NAVBAR(SERACHBAR AND BUTTON) */
.title {
  font-family: roboto;
  font-weight: 1000;
  font-style: oblique;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  text-align: right;
}

.container {
  margin: auto;
  padding: 1rem;
  background: #5f27cd;
}

/* this is for search bar */
.top {
  margin-top: 0.2rem !important;
}

.topButton {
  margin-top: 0.5rem !important;
  background-color: #198754 !important;
  border-color: #198754 !important;
  margin-left: 0.5rem !important;
}

.squaredCorners {
  border-radius: 0 !important;
  -webkit-appearance: none;
}

#dropdownMenu {
  background-color: #5f27cd !important;
  color: #e2dec0 !important;
}

.heading {
  color: #000;
  margin: auto;
  width: 92%;
  font-size: 2rem;
  font-weight: 800;
  margin-top: 1rem;
}

.subheading {
  color: #000;
  margin: auto;
  width: 92%;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
}

.titleCategories {
  color: #5f27cd;
  margin: auto;
  width: 92%;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
}

.subTitle {
  padding-top: 0.5rem;
  font-style: italic;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  background: #5f27cd;
  color: white;
}

.centerNav {
  margin: auto;
  width: 70%;
  margin-left: 10rem;
}

.navWidth {
  width: 18rem;
}

@media only screen and (max-width: 1338px) {
  .centerNav {
    width: 80%;
  }
}

@media only screen and (max-width: 1310px) {
  .title {
    /* width: 80% !important; */
    text-align: right !important;
    font-size: 1.8rem !important;
  }
  .navTitle {
    width: 16% !important;
  }
}

@media only screen and (max-width: 1306px) {
  .centerNav {
    width: 83%;
  }
}

@media only screen and (max-width: 1297px) {
  .centerNav {
    margin-left: 7rem !important;
  }
}

@media only screen and (max-width: 1262px) {
  .centerNav {
    width: 86%;
  }
}

@media only screen and (max-width: 1121px) {
  .navTitle {
    width: 14% !important;
  }

  .searchBar {
    width: 52% !important;
  }

  .navbarButton {
    width: 34% !important;
  }
}

@media only screen and (max-width: 1144px) {
  .centerNav {
    width: 76%;
  }
}

@media only screen and (max-width: 1100px) {
  .navTitle {
    width: 40% !important;
  }

  .title {
    text-align: right !important;
  }

  .centerNav {
    margin-left: 4rem !important;
  }

  .searchBar {
    width: 60% !important;
  }

  .navbarButton {
    width: 50% !important;
    margin-left: 22rem !important;
    margin-top: 1rem !important;
  }
}

@media only screen and (max-width: 1070px) {
  .centerButtons {
    margin: auto;
    width: 108%;
  }
}

@media only screen and (max-width: 1041px) {
  .navbarButton {
    margin-left: 20rem !important;
  }
}

@media only screen and (max-width: 1030px) {
  .navbarButton {
    margin-left: 20rem !important;
    /* width: 5rem !important; */
  }
}

@media only screen and (max-width: 1008px) {
  .centerNav {
    width: 80%;
  }
}

/*MOBILE */

@media only screen and (max-width: 961px) {
  .navTitle {
    width: 35% !important;
  }
}

@media only screen and (max-width: 971px) {
  .navbarButton {
    margin-left: 18rem !important;
  }
}

@media only screen and (max-width: 889px) {
  .navbarButton {
    margin-left: 16rem !important;
  }
}

@media only screen and (max-width: 876px) {
  .navTitle {
    width: 30% !important;
  }
  .searchBar {
    width: 70% !important;
  }
}

@media only screen and (max-width: 814px) {
  .navbarButton {
    margin-left: 14rem !important;
  }
}

@media only screen and (max-width: 776px) {
  .navbarButton {
    margin-left: 12rem !important;
  }
}

@media only screen and (max-width: 752px) {
  .navTitle {
    width: 28% !important;
  }
  .searchBar {
    width: 72% !important;
  }
}

@media only screen and (max-width: 731px) {
  .navTitle {
    width: 100% !important;
  }

  .title {
    text-align: center !important;
  }

  .searchBar {
    width: 80% !important;
    margin-left: 6rem !important;
    margin-top: 1rem !important;
  }

  .navbarButton {
    margin-left: 11rem !important;
  }
}

@media only screen and (max-width: 740px) {
  .searchBar {
    margin-left: 5rem !important;
    width: 80% !important;
  }
  .navbarButton {
    margin-left: 10rem !important;
    /* width: 100% !important; */
  }
}

@media only screen and (max-width: 714px) {
  .searchBar {
    margin-left: 5rem !important;
    width: 80% !important;
  }
  .navbarButton {
    margin-left: 10rem !important;
    width: 70% !important;
  }
}

@media only screen and (max-width: 664px) {
  .searchBar {
    margin-left: 4rem !important;
  }
  .navbarButton {
    margin-left: 9rem !important;
  }
}

@media only screen and (max-width: 627px) {
  /* .searchBar {
    margin-left: 2rem !important;
  }
  .navbarButton {
    margin-left: 7rem !important;
  } */

  .centerNav {
    width: 100% !important;
    margin-left: 3rem !important;
  }
  .navbarButton {
    margin-left: 4rem !important;
    width: 80% !important;
  }
}

@media only screen and (max-width: 590px) {
  .searchBar {
    margin-left: 1rem !important;
  }
  .navbarButton {
    margin-left: 6.5rem !important;
  }
}

@media only screen and (max-width: 546px) {
  .searchBar {
    margin-left: 0rem !important;
  }
  .navbarButton {
    margin-left: 5rem !important;
  }
}

@media only screen and (max-width: 529px) {
  .centerNav {
    width: 100% !important;
    margin-left: 3rem !important;
  }
  .navbarButton {
    margin-left: 4rem !important;
  }
}

@media only screen and (max-width: 505px) {
  .centerNav {
    width: 100% !important;
    margin-left: 2.5rem !important;
  }
  /* .navbarButton {
    margin-left: 4rem !important;
    
  } */
}

@media only screen and (max-width: 483px) {
  .centerNav {
    margin-left: 1.8rem !important;
  }
  .navbarButton {
    margin-left: 3rem !important;
  }
}

@media only screen and (max-width: 461px) {
  .centerNav {
    margin-left: 1rem !important;
  }
  .navbarButton {
    margin-left: 2rem !important;
  }
}

@media only screen and (max-width: 441px) {
  .centerNav {
    margin-left: 0.5rem !important;
  }
}

@media only screen and (max-width: 430px) {
  .centerNav {
    width: 100% !important;
    margin-left: 0rem !important;
  }
  .navbarButton {
    margin-left: 1rem !important;
  }
}

@media only screen and (max-width: 416px) {
  .centerNav {
    width: 100% !important;
    margin-left: -0.5rem !important;
  }
}

@media only screen and (max-width: 396px) {
  .centerNav {
    width: 100% !important;
    margin-left: 1rem !important;
  }
  .searchBtnStyle {
    width: 200% !important;
    margin-top: 1rem !important;
    margin-left: 3rem !important;
  }
  .navbarButton {
    margin-left: 0.5rem !important;
  }
}

@media only screen and (max-width: 385px) {
  .navbarButton {
    margin-left: -0.5rem !important;
  }
  .searchBtnStyle {
    margin-left: 2.8rem !important;
  }
}

@media only screen and (max-width: 377px) {
  .navbarButton {
    margin-left: -0.5rem !important;
  }

  .searchBtnStyle {
    width: 200% !important;
    margin-top: 1rem !important;
    margin-left: 2.5rem !important;
  }
}

@media only screen and (max-width: 376px) {
  .searchBar {
    margin-left: -0.5rem !important;
  }

  .searchBtnStyle {
    margin-left: 3rem !important;
  }
}

@media only screen and (max-width: 360px) {
  .searchBar {
    margin-left: -1rem !important;
  }

  .navbarButton {
    margin-left: -1rem !important;
  }
}
