.container {
  margin: auto;
  text-align: center;
}

.pageTitle {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem !important;
}

.itemInfo {
  margin-top: 1rem !important;
  background-color: #d3eaf2 !important;
  padding: 2rem;
  border-radius: 1rem;
}

.button {
  /* margin-bottom: 1rem;
    width: 10rem !important;
    padding: 10px !important;
    font-size: 1.5rem !important;
    background-color: #5f27cd !important;
    border-color: #5f27cd !important ; */

  width: 80% !important;
  height: 50px !important;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
  border-radius: 10px !important;
  font-size: 10rem !important;
  background-color: #5f27cd !important;
  border-color: #5f27cd !important ;
  outline: none !important;
  border: none !important;
  color: #fff !important;
  font-size: 1rem !important;
}

/* .button:hover {
  cursor: pointer !important;
  background: linear-gradient(
    90deg,
    rgb(82, 36, 127) 0%,
    rgb(193, 126, 219) 100%
  ) !important;
  transition: all 0.4s ease-out !important;
} */

.image {
  height: 30rem !important;
  object-fit: contain;
  margin-top: 0.6rem !important;
  margin-left: -1rem !important;
}

.itemTitleLabel {
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.itemTitle {
  text-align: left;
  /* font-weight: bold; */
  font-size: 1.5rem;
  width: 100%;
  margin-left: 0.8rem;
  border-bottom: black solid 1px;
}

.itemPriceLabel {
  font-size: 1.3rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.itemPrice {
  text-align: left;
  font-size: 1.3rem;
  width: 50%;
  /* font-weight: bold; */
  margin-left: 0.8rem;
  border-bottom: black solid 1px;
}

.itemCategoryLabel {
  font-size: 1.2rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.itemCategory {
  font-size: 1.2rem;
  text-align: left;
  width: 50%;
  /* font-weight: bold; */
  margin-left: 0.8rem;
  border-bottom: black solid 1px;
}

.itemiDescriptionLabel {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 0.5rem;
  /* font-weight: bold; */
}

.itemiDescription {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 1rem;
  width: 100% !important;
  height: 12.8rem !important;
  border: 0.1rem solid black;
  margin-left: 0.7rem;
  border-radius: 0.5rem !important;
}


@media screen and (max-width: 1400px) {
  .button{
    width: 90% !important;
  }
}

@media screen and (max-width: 992px) {
  .button{
    width: 110% !important;
  }

  .image{
    margin-bottom: 2rem;
    margin-left: 1rem !important;
  }
}


@media screen and (max-width: 768px) {

  .image{
    margin-left: 0rem !important;
  }
  .itemTitle{
    width: 160%;
  }

}

@media screen and (max-width: 489px) {

  .button{
    width: 120% !important;
  }
}

@media screen and (max-width: 459px) {

  .button{
    width: 125% !important;
  }
}

@media screen and (max-width: 446px) {

  .button{
    width: 130% !important;
  }
}

@media screen and (max-width: 430px) {

  .button{
    width: 135% !important;
    margin-left: -1rem !important;
  }
}

@media screen and (max-width: 423px) {

  .itemTitleLabel{
    width: 150%;
    font-size: 1.4rem;
  }

  .itemTitle{
    width: 160%;
  }

  .button{
    width: 140% !important;
    margin-left: -1rem !important;
  }
}

@media screen and (max-width: 413px) {

  .button{
    width: 150% !important;
  }
}


@media screen and (max-width: 394px) {

  .button{
    width: 160% !important;
  }
}


@media screen and (max-width: 378px) {

  .itemTitleLabel{
    font-size: 1.2rem;
    width: 150%;
  }

  .itemTitle{
    font-size: 1rem;
    width: 140%;
  }

  .itemPriceLabel{
    font-size: 1.2rem;
    width: 150%;
  }

  .itemPrice{
    font-size: 1rem;
    width: 140%;
  }

  .itemCategoryLabel{
    font-size: 1.2rem;
    width: 150%;
  }

  .itemCategory{
    font-size: 1rem;
    width: 140%;
  }


  .button{
    width: 170% !important;
  }
}

@media screen and (max-width: 364px){
  .button{
    width: 180% !important;
  }
}

@media screen and (max-width: 352px){
  .button{
    width: 190% !important;
  }
}

@media screen and (max-width: 206px){
  .button{
    width: 190% !important;
    font-size: small !important;
  }
}



