/* HEADER:Log In Page Styling  */
.title{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.container{
    /* margin:auto;
    width: 50%; */
    text-align: center;
    /* border: 1px;
    border-style: solid;   */
}

.form {
    margin-top: 1rem;
    background-color: #d3eaf2 !important;
    padding: 2rem;
    border-radius: 1rem;
  }

.image{
    width: auto;
    height: 20rem;
    margin-bottom: 1rem;
  
}
.Postbutton{
    margin-bottom: 1rem;
    width: 10rem !important;
    padding: 10px !important;
    font-size: 1.5rem !important;
    background-color: #5f27cd !important;
    border-color: #5f27cd !important ;
    
}

.CancelButton{
    margin-bottom: 1rem;
    width: 10rem !important;
    padding: 10px !important;
    font-size: 1.5rem !important;
    background-color: rgb(189, 62, 62) !important;
    border-color: red !important ;
}
.subtitle{
   font-size: 1rem;
   text-align: right;

}
.input{
    width: 100% ;
    border-radius: 1rem;
    padding: 0.5rem;
    
}
.dropdown{
    width: 100% !important;
}



.courseNumInput{
    width: 100% ;
    border-radius: 1rem;
    padding: 0.5rem;
    float: left !important;
}